BasedOnStyle: LLVM

IndentWidth: 2
ColumnLimit: 96
PointerAlignment: Left
ReflowComments: false
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: BlockIndent

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html