*.o
*.exe
a.out
*.data
.vscode

# ignore csv files except for the ones in the test and benchmarks folders
*.csv
!src/test/*.csv
!benchmarks/*.csv

src/test/test
benchmarks/benchmark_simulate_fire
benchmarks/benchmark_emulate_loglik

graphics/fire_animation_data
graphics/burned_probabilities_data
graphics/*.mp4
graphics/*.png
