*.o
*.exe
a.out

# ignore csv files except for the ones in the test and benchmarks folders
*.csv
!src/test/*.csv
!src/benchmarks/*.csv

src/test/test
src/benchmarks/benchmark_simulate_fire
src/benchmarks/benchmark_emulate_loglik
